<div class="container">
    <!-- <h3>{{site.sec4}}</h3> -->
    <!-- <p>{{site.sec5}}</p> -->
    <ul class="feature-icons">
        <li class="fa-code">
            <h4>Resume</h4>
        </li>
        <li class="fa-microphone">
            <h4>Speaking</h4>
            <ul>
                {% for talk in site.talks %}
                    <li style="padding: 0.1em; margin: 0;"><a href="{{talk[0]}}">{{ talk[1] }}</a>, {{talk[2]}}</li>
                {% endfor %}
            </ul>
        </li>
        <li class="fa-pencil">
            <h4>Writing</h4>
            <ul>
                {% for article in site.articles %}
                    <li style="padding: 0.1em; margin: 0;"><a href="{{article[0]}}">{{article[1]}}</a>, {{article[2]}}</li>
                {% endfor %}
            </ul>
        </li>
        <li class="fa-book">
            <h4>Publications</h4>
            <ul>
                {% for pub in site.publications %}
                    <li style="padding: 0.1em; margin: 0;">{{pub[0]}}</li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</div>