<div class="container">
    <ul class="feature-icons">
        <li class="fa-code">
            <h4><a href="#">Resume</a></h4>
            <p>For details about my background and professional experience see my cv <a href="https://docs.google.com/document/d/13DcrD5-DAucmTz5bUSW9nHUuJwjZo1PUy0Qwv5C1nO0/edit?usp=sharing" target="_blank">here</a></p>
        </li>
        <li class="fa-microphone">
            <h4>Speaking</h4>
            <ul>
                {% for talk in site.talks %}
                    <li style="padding: 0.1em; margin: 0;"><a href="{{talk[0]}}" target="_blank">{{ talk[1] }}</a>, {{talk[2]}}</li>
                {% endfor %}
            </ul>
        </li>
        <li class="fa-pencil">
            <h4>Writing</h4>
            <ul>
                {% for article in site.articles %}
                    <li style="padding: 0.1em; margin: 0;"><a href="{{article[0]}}" target="_blank">{{article[1]}}</a>, {{article[2]}}</li>
                {% endfor %}
            </ul>
        </li>
        <li class="fa-book">
            <h4>Research</h4>
            <ul>
                {% for pub in site.publications %}
                    <li style="padding: 0.1em; margin: 0;">{{pub[0]}}</li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</div>